body {background-image:url(av.jpg);background-repeat: no-repeat;background-size: cover;}
h1{font-family: 'Courier New', Courier, monospace;font-style: normal;color: blueviolet;text-align: center;}
h2{font-family: cursive;font-style: normal;color: rebeccapurple;text-align: center;}
