body{background-color: black;
    background-image: url(unnamed.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
h1{font-family: 'Times New Roman', Times, serif
    ;color: red
    ;text-align: center;
}
H2{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
    ;color: orange;text-align: center
    ;font-size: medium;
}