BODY{background-image: url(yo.png);background-repeat: no-repeat;background-size:cover;}
h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color:darkslateblue;text-align: center}
h2{font-family: serif;font-size:larger;color:blue;text-align: end;font-size: x-large;}